{% case page.category %}
  {% when 'biometano' %}{% assign title = "BIOMETANO" %}
  {% when 'biomateriais' %}{% assign title = "BIOMATERIAIS" %}
  {% when 'divulgacao' %}{% assign title = "MUSEU ÁRVORE" %}
  {% when 'cosmos' %}{% assign title = "COSMOS" %}
  {% when 'fotossintetica' %}{% assign title = "FOTOSSINTÉTICAS" %}
  {% when 'ecos' %}{% assign title = "ECOS" %}
{% endcase %}

<section class="list-wrapper breadcrumbs-container">
  <a href="{{ site.baseurl }}/" class="breadcrumb-item">HOME</a> >
  <a href=".." class="breadcrumb-item">{{ title }}</a> >
  <span class="breadcrumb-item breadcrumb-selected">{{ page.title }}</span>
</section>
